<nb-card>
    <nb-card-body class="example-items-col">
            <!-- <input type="text" nbInput fullWidth shape="rectangle" placeholder="Rectangle">
            <input type="text" nbInput fullWidth shape="semi-round" placeholder="Semi round">
            <input type="text" nbInput fullWidth shape="round" placeholder="Round"> -->
            <p>This Website is primarly an Interface for a database of Magic Games.</p>
            <div>
                <h4>Phases</h4>
                <p>Current Phase: Phase 1</p>
                <ul>
                    <li>Phase 1: Gather Data</li>
                    <li>Phase 2: Analyze Data</li>
                    <li>Phase 3: Present Analysis</li>
                </ul>
            </div>
            
            <div>
                <h4>Functions still needed this Phase</h4>
                <ul>
                    <li>Ability to add Decks from Website</li>
                    <li>Ability to add Players from Website</li>
                    <li>Page with each Database Collection</li>
                    <li>Add more HTTP Methods for Objects</li>
                </ul>
            </div>
    </nb-card-body>
</nb-card>