<div *ngFor="let player of playerAndInfo"> 
    <h2>{{player.name}} - {{player.wins.length}} and {{player.losses.length}}</h2>
    <table class="darkTable">
        <tr>
            <th>Opponent</th>
            <th>Result</th>
            <th>Format</th>
            <th>Winning Deck</th>
            <th>Deck color</th>
            <th>Loser Deck</th>
            <th>Deck color</th>
        </tr>
        <tr *ngFor="let win of player.wins">
            <td>Win</td>
            <td>{{win.loser[0].player.name}}</td>
            <td>{{win.type}}</td>
            <td>{{win.winner.deck.name}}</td>
            <td>{{win.winner.deck.color}}</td>
            <td>{{win.loser[0].deck.name}}</td>
            <td>{{win.loser[0].deck.color}}</td>
        </tr>
        <tr *ngFor="let loss of player.losses">
            <td>Loss</td>
            <td>{{loss.winner.player.name}}</td>
            <td>{{loss.type}}</td>
            <td>{{loss.winner.deck.name}}</td>
            <td>{{loss.winner.deck.color}}</td>
            <td>{{loss.loser[0].deck.name}}</td>
            <td>{{loss.loser[0].deck.color}}</td>
        </tr>
    </table>
</div>