<div *ngFor="let player of playerAndInfo">
    <h2>{{player.name}}</h2>
        <div>
            <h4>Wins: {{player.wins.length}}</h4>
            <div *ngFor="let win of player.wins">
                <p>{{win.type}}</p>
                <h5>Winner Info</h5>
                <p>Deck: {{win.winner.deck.name}}</p>
                <p>Color: {{win.winner.deck.color}}</p>
                <h5>Loser Info</h5>
                <div *ngFor="let loser of win.loser">
                    <p></p>
                    <p>Loser: {{loser.player.name}}</p>
                    <p>Deck: {{loser.deck.name}}</p>
                    <p>Color: {{loser.deck.color}}</p>
                </div>
            </div>
            <h4>Losses: {{player.losses.length}}</h4>
            <div *ngFor="let loss of player.losses">
                <p>{{loss.type}}</p>
            </div>
        </div>
</div>

